extends ../layout

block navigation
  li.uk-nav-header Admin Menus
  li
    a(href="/admins/products") Edit Products
  li
    a(href="/admins/categories") Edit Categories
block content
  h1 Admin Dashboard
  div
    h3 Placed Orders
    span Will specify actions here
