extends ../layout

block navigation
  li.uk-nav-header Admin Menu
  li
    a(href="/admins/products") Edit Products
  li
    a(href="/admins/categories") Edit Categories
block content
  h2 Admin Dashboard
  div
    h3 Placed Orders
    span Will specify actions here
