-
  const year = new Date().getFullYear();
footer.uk-background-muted.uk-text-center.uk-padding-small
  span Simple E-Commerce by 
    a(href="https://github.com/ach0o")
      span(uk-icon="icon: github; ratio: 1", style="vertical-align:text-bottom;") 
      span ach0o
