extends layout

mixin categoryItem(category)
  a(href=`${currentUrlPath}/${category.uri}`)=category.name
  if category.childCategories
    .child-categories
      each child in category.childCategories
        +categoryItem(child)

mixin displayCategories(categories)
  each category in categories
    +categoryItem(category)

block content
  h2=title
  +displayCategories(categories)
