<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/simple-grid.css')
    block title 
  body
    .container
      .row
        .col-2.col-3-sm
          .sidenav
            a(href="#") Shirts
            a(href="#") Blouse
            a(href="#") Pants
            a(href="#") Jeans
            a(href="#") Jackets
            a(href="#") Acc/Jewerly
            a(href="#") Shoes/Bags
        .col-10.col-9-sm
          block content