<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- UI KIT CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css')

    title Simple Ecommerce
  body
    .uk-container.uk-grid.uk-padding
      .uk-width-auto
        ul.uk-nav.uk-nav-default
          li: a(href="/") Home
          li.uk-nav-header User Info.
          li: a=userId
          li
            if userId === 'Guest'
              a(href="/auths/login") Login
            else
              a(href="/auths/logout") Logout
          li: a(href='/carts' alt='carts') Cart: #{cartTotal}
          li.uk-nav-divider

          block navigation
      .uk-width-expand.uk-padding-remove-top
        block content

    //- UI KIT JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js")