/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */
/* 
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

html,
body {
  background-color: #fff;
  color: #333;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 100%;
  margin: auto;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ---------------------------------------------------- */
/* NAVIGATION */
/* ---------------------------------------------------- */

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: inherit;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav a {
  padding-left: 20%;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* ---------------------------------------------------- */
/* PRODUCT LIST */
/* ---------------------------------------------------- */
.product-list {
  margin-bottom: 30px;
  margin-top: 30px;
}

.box {
  float: left;
}

.description ul {
  list-style: none;
  padding: 0;
}
.description .detail {
  text-align: start;
  padding-top: 5px;
}

span.price {
  text-decoration-line: line-through;
  padding-right: 10px;
}

span.dcPrice {
  font-size: 110%;
  font-weight: bold;
}

.thumbnail a img {
  max-width: 250px;
  max-height: 200px;
}

/* ---------------------------------------------------- */
/* PRODUCT DETAIL */
/* ---------------------------------------------------- */
.original-image {
  margin-right: 10px;
}
.original-image a img {
  max-width: 400px;
  max-height: 400px;
}
.product-detail .description {
  text-align: left;
}
.product-detail .options,
.product-detail .quantity {
  width: 50%;
  font-size: 100%;
}

.product-detail table td,
.product-detail table th {
  padding-top: 25px;
  padding-right: 10px;
  vertical-align: top;
}

.product-button {
  display: flex;
  margin: 30px 0px;
}

.order-button {
  width: 68%;
  height: 80px;
  background-color: gold;
  color: black;
  font-size: 150%;
  font-weight: bold;
  margin-right: 3px;
}

.cart-button {
  width: 28%;
  height: 80px;
  background-color: grey;
  color: #333;
  font-weight: bold;
}

.add-cart-button {
  font-size: 110%;
}

/* ---------------------------------------------------- */
/* CART ITEM */
/* ---------------------------------------------------- */
.cart-item td {
  padding: 4px;
}

.clear-cart-button {
  font-size: 150%;
}

.cart-list {
  overflow: auto;
}

.cart-list table {
  width: 100%;
}