/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */
/* 
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

html,
body {
  background-color: #fff;
  color: #333;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 100%;
  margin: auto;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

/* ---------------------------------------------------- */
/* NAVIGATION */
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* PRODUCT LIST */
/* ---------------------------------------------------- */
.description ul {
  list-style: none;
  padding: 0;
}

.description .detail {
  text-align: start;
  padding-top: 5px;
  max-width: 250px;
}

.description .name {
  font-weight: bold;
  text-transform: uppercase;
}

.description .price {
  text-decoration-line: line-through;
  padding-right: 10px;
}

.description .dcPrice {
  font-weight: bold;
  font-size: 120%;
}

.thumbnail img,
.thumbnail a img {
  max-width: 250px;
  max-height: 200px;
}

/* ---------------------------------------------------- */
/* PRODUCT DETAIL */
/* ---------------------------------------------------- */
.product-detail {
  text-align: left;
}

.original-image {
  float: left;
}

.original-image img {
  max-width: 400px;
  max-height: 400px;
}

.description th,
.description td {
  padding: 12px 5px;
}

.description .product-button button {
  margin-top: 20px;
}

/* ---------------------------------------------------- */
/* CART ITEM */
/* ---------------------------------------------------- */
.cart-item {
  text-align: center;
}
.cart-item td {
  padding: 4px;
}

.clear-cart-button {
  margin-right: 15px;
}

.cart-list {
  overflow: auto;
}

.cart-list table {
  width: 100%;
}

/* ---------------------------------------------------- */
/* ORDER ITEM */
/* ---------------------------------------------------- */
.order-item-table th {
  white-space: nowrap;
  padding: 0px 15px;
}
.order-item-table td:nth-child(2) {
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: left;
}
.order-item-table td {
  text-align: center;
}

.order-item-list {
  list-style: none;
}

.order-item-list li {
  white-space: nowrap;
  padding-bottom: 10px;
}
.order-item-list li:last-child {
  padding-bottom: 0px;
}

.order-list {
  overflow: auto;
}

.order-list table {
  width: 100%;
}


/* ---------------------------------------------------- */
/* ADMIN - PRODUCTS */
/* ---------------------------------------------------- */
.admin-list {
  overflow-x: auto;
}